@*Definir el modelo*@
@model IEnumerable<ciudades>

@*Definir ViewData*@
@{
    ViewData["Title"] = "Lista de Ciudades";
}
@*Codigo*@
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    @*Nombres importados desde el modelo*@
                    <th>@Html.DisplayNameFor(model => model.logolURL)</th>
                    <th>@Html.DisplayNameFor(model => model.NombreCiudad)</th>
                    <th>@Html.DisplayNameFor(model => model.DescripcionCiudad)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
               {
                   <tr class="text-center">
                       <td class="align-middle">
                           <img class="rounded-circle" src="@item.logolURL" alt="@item.NombreCiudad" style="max-width: 170px"/>
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.NombreCiudad)
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.DescripcionCiudad)
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>
</div>
