@*Definir el modelo*@
@model IEnumerable<propietario>

@*Definir ViewData*@
@{
    ViewData["Title"] = "Lista de Propietarios";
}
@*Codigo*@
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                 <tr class="text-center">
                    @*Nombres importados desde el modelo*@
                    <th>@Html.DisplayNameFor(model => model.FotoDePerfilURL)</th>
                    <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                    <th>@Html.DisplayNameFor(model => model.DescripcionPropietario)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
               {
                   <tr>
                       <td class="align-middle">
                           <img class="rounded-circle" src="@item.FotoDePerfilURL" alt="@item.NombreCompleto" style="max-width: 150px"/>
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.NombreCompleto)
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.DescripcionPropietario)
                       </td>
                       <td class="align-middle">
                           <a class="btn btn-outline-primary" asp-controller="propietarios" asp-action="Edit" asp-route-id="@item.IdPropietario"><i class="bi bi-pencil-square"></i>Editar</a>
                           <a class="btn btn-outline-info" asp-controller="propietarios" asp-action="Details" asp-route-id="@item.IdPropietario"><i class="bi bi-eye"></i>Más detalles</a>
                           <a class="btn btn-danger text-white" asp-controller="propietarios" asp-action="Delete" asp-route-id="@item.IdPropietario"><i class="bi bi-trash"></i>Eliminar</a>
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>
</div>

<div class="text-white" style="position: fixed; right: 30px; bottom: 80px;">
    <a asp-controller="propietarios" asp-action="Create" class="btn btn-success">Añadir Nuevo</a>
</div>