@*Definir el modelo*@
@model IEnumerable<usuarioApp>

@*Definir ViewData*@
@{
    ViewData["Title"] = "Lista de Usuarios";
}
@*Codigo*@
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h3>Listado de todos los usuarios</h3>
        </p>
        <table class="table">
            <thead>
                 <tr class="text-left">
                    @*Nombres importados desde el modelo*@
                    <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
               {
                   <tr>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.NombreCompleto)
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.UserName)
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.Email)
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>
</div>